<div class='scoreboard'>
    <h1>Scoreboard</h1>
    <h2>Teams</h2>

    <br><br>
    <ul>
        <li *ngFor="let team of teams">{{team.name}} Score</li>
    </ul>    <br>
    <form [formGroup]="score1Form" (ngSubmit)="saveScore(1, score1Form.value)">
        <input type="number" id="score1" name="score1" formControlName="score1"><br><br>
        <input type="submit" value="Submit">
      
    </form>
    <ul>
        <li *ngFor="let team of teams">{{team.name}} Score</li>
    </ul>    <br>
    <form [formGroup]="score2Form" (ngSubmit)="saveScore(2, score2Form.value)">
        <input type="number" id="score2" name="score2" formControlName="score2"><br><br>
        <input type="submit" value="Submit">
    </form>

</div>
