<header>
        <div class = "container">
            <a href = "home" class = 'logo'>RecLeague Home</a>
            <nav>
                <ul>
                    <li *ngIf="!loggedin"><a routerLink = 'login'>Login</a></li>
                    <li *ngIf="!loggedin"><a routerLink = 'register'>Register</a></li>
                    <li *ngIf="loggedin"><button (click)="logout()">Log Out</button></li>
                    <li *ngIf="loggedin"><a routerLink = 'add-events'>Add Events</a></li>
                    <li>
                        <form [formGroup]="searchForm" (ngSubmit)="search(searchForm.value)">
                            <input placeholder="Search" type="text" id="searchTerm" name="searchTerm" formControlName="searchTerm">
                            <input type="submit" value="submit">
                        </form>
                    </li>
                    <!--li><a routerLink = 'add-events'>Add Event</a></li>
                    <li><a routerLink = 'search'>Search Events</a></li>
                    <li><a routerLink = 'profile'>Profile</a></li-->
                </ul>
            </nav>
        </div>
</header>
